html {
	background-color: #090999;
	padding-top: 30pt;
	padding: 40px;
	background: -webkit-linear-gradient(#FFFF00, #FF8C00);
}
body{
	width: 80%;
	border: 3pt dashed #800000;
	padding: 40px;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0 0 40pt rgba(0,0,0,0.9);
	background-color: #F0E68C;
	background-image: url(./images/green.jfif);
}
p{
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
  color: #191970;
  font-size: 16pt;
  margin-top: 20px;
  margin-left: 60px;
}
h1, h2 {
	color: #800080;
}
h2{
	border-bottom: 2px white solid;
	background: url(./images/head-icon.png) no-repeat 10px 10px;
	padding: 0 0 2px 60px;
	margin 0;
}
.intro {
	color: #A52A2A;
	font-size: 1.4em;
	margin-left: 0;
	margin-bottom: 25px;
}
address {
	font-size: 1.25em;
	color: #FFFF00;
	line-height: 150%;
	margin-top: 20px;
	margin-left: 20px;
}